name: analysis

on:
  push:
    branches: [ main ]

  schedule:
    - cron: '0 0 * * *'

  workflow_dispatch:

env:
  DBT_PROFILES_DIR: ${{ github.workspace }}
  RE_DATA_CONFIG_DIR: ${{ github.workspace }}
  RE_DATA_SEND_ANONYMOUS_USAGE_STATS: 0
  RE_CLOUD_API_KEY: ${{ secrets.RE_CLOUD_API_KEY }}
  SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
  SNOWFLAKE_DBT_PASSWORD: ${{ secrets.SNOWFLAKE_DBT_PASSWORD }}

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v1
        with:
          python-version: "3.7.x"

      - name: Install re_data and python dependencies
        run: |
          pip install dbt-snowflake
          pip install re_data
          pip install re_cloud

      - name: Run dbt
        run: |
          dbt --version
          dbt deps
          dbt run --select package:analysis
          dbt docs generate

      - name: Run re_data
        run: |
          re_data run
          re_data overview generate

      - name: Configure re_data.yml for re_cloud production
        uses: mikefarah/yq@master
        with:
          cmd: |
            yq -i '.re_cloud.api_key = "${{secrets.RE_CLOUD_API_KEY}}"' re_data.yml 
      
      - name: Upload dbt docs and re_data to production cloud
        run: |
          re_cloud upload dbt-docs --name analytics-docs 
          re_cloud upload re-data --name analytics-report

      - name: Configure re_data.yml for re_cloud testing
        uses: mikefarah/yq@master
        with:
          cmd: |
            yq -i '.re_cloud.api_key = "${{secrets.RE_CLOUD_TEST_API_KEY}}"' re_data.yml 
            - name: Compute and upload dbt docs
      
      - name: Upload dbt docs to testing cloud
        run: |
          re_cloud upload dbt-docs --name analytics-docs 
          re_cloud upload re-data --name analytics-report
